/*MAIN - SLIDER*/
.main-slider {
	min-width: 1200px;
	margin: 0 auto;
}
.main-slider .slick-prev {background-image: url(../pc/resource/images/common/arr_left_wt.png);}
.main-slider .slick-next {background-image: url(../pc/resource/images/common/arr_right_wt.png);}

/*싱품 리스트 - 공통 스타일, 1단, 4단, 5단*/
.goods-box {
	max-width: 1600px;
	min-width: 1200px;
	margin: 0 auto;
	padding: 47px 0 0;
}
.goods-box.best-seller {padding-top: 67px;}
.goods-box.like {padding-top: 10px;}
.goods-box h2.tit-style {text-align: center;}
.list__goods {
	margin: 46px 0 0;
	font-size: 0;
}
.list__goods li {
	display: inline-block;
	margin-bottom: 60px;
	vertical-align: top;
}
body.main .list__goods li {margin-bottom: 0;}
.list__goods li a {display: block;}
.list__goods .photo {
	position: relative;
	top: 0;
	left: 0;
}
.list__goods .photo:after {
	content: '';
	display: block;
	padding-bottom: 100%;
}
.list__goods .photo div {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.list__goods .photo .front {display: block;}
.list__goods .photo .back {display: none;}
.list__goods li:hover .photo .front {display: none;}
.list__goods li:hover .photo .back {display: block;}
.list__goods .photo img {width: 100%;}
.list__goods .info {margin: 27px 0 0;}
.list__goods .info p {
	color: rgb(113,113,113);
	letter-spacing: -0.5px;
}
.list__goods .info .category {
	font-weight: 600;
	font-size: 12px;	
}
.list__goods .info .name {
	margin-top: 6px;
	font-weight: 200;
	font-size: 22px;
}
.list__goods .info .price p {
	display: inline-block;
	font-weight: 200;
	font-size: 16px;
	color: rgb(34,34,34);
}
.list__goods .info .price span.won {
	font-family: 'Spoqa Han Sans';
	font-weight: 100;
	font-size: 14px;
	color: rgb(34,34,34);
}
.list__goods .info .price .normal {color: rgb(34,34,34);}
.list__goods .info .price .normal--sale {
	color: rgb(153,153,153);
	text-decoration: line-through;
}
.list__goods .info .price .normal--sale span.won {color: rgb(153,153,153);}
.list__goods .info .price .sale {
	margin-left: 10px;
	color: rgb(192,0,0);
}
.list__goods .info .price .sale span.won {color: rgb(192,0,0);}
.list__goods .info .list__colorchip {margin: 14px 0 0;}
.list__goods .info .list__colorchip li {margin: 0 5px 5px 0;}
.list__goods .info .list__colorchip li:last-child {margin-right: 0;}
.list__goods .info .list__colorchip li img {
	width: 15px;
	height: 15px;
}
.list__goods .info .tag-box {margin: 15px 0 0;}
.list__goods .info .tag-box .tag {
	height: 22px;
	display: inline-block;
	padding: 0 5px;
	margin: 0 5px 5px 0;
	font-weight: 300;
	font-size: 11px;
	color: rgb(34,34,34);
	line-height: 22px;
	letter-spacing: 0;
	border: 1px solid rgb(213,213,213);
	box-sizing: border-box;
}
.list__goods .info .tag-box .tag:last-child {margin-right: 0;}

/*4단*/
.list__goods._goods1 > li {width: 100%;}
.list__goods._goods1 > li:last-child {margin-bottom: 0;}

/*4단*/
.list__goods._goods4 > li {
	width: 24.0625%;
	margin-right: 1.25%;
}
.list__goods._goods4 > li:nth-child(4n) {margin-right: 0;}
/*5단*/
.list__goods._goods5 > li {
	width: 19%;
	margin-right: 1.25%;
}
.list__goods._goods5 > li:nth-child(5n) {margin-right: 0;}


/*MAIN - 통 배너*/
.main-banner {
	min-width: 1200px;
	margin: 75px auto 0;
}
.main-banner a {display: block;}
.main-banner img {width: 100%;}


/*MAIN - COLLECTION*/
.main-collection {
	max-width: 1600px;
	min-width: 1200px;
	margin: 95px auto 0;
	padding: 100px 0 0;
	border-top: 1px dashed rgb(222,222,222);
}
.collection-slider {
	max-width: 1620px;
	margin: 0 -10px 0;
}
.collection-slider img {
	width: 100%;
	max-height: 400px;
}
.collection-slider .slick-slide {margin: 0 10px;}
.collection-slider .info {margin: 25px 0 0;}
.collection-slider .info .tit {
	font-weight: 300;
	font-size: 36px;
	color: rgb(34,34,34);
	letter-spacing: -1.5px;
}
.collection-slider .info .txt {
	margin: 7px 0 0;
	font-weight: 200;
	font-size: 24px;
	color: rgb(113,113,113);
	letter-spacing: -1.5px;
}
.collection-slider .btn__style1 {margin: 30px 0 0;}
.collection-slider .slick-arrow {top: 0;}
.collection-slider .slick-prev {left: -86px;}
.collection-slider .slick-next {right: -86px;}
@media screen and (max-width: 1800px) {
	.collection-slider .slick-prev {
		left: 14px;
		background-image: url(../pc/resource/images/common/arr_left_bk_line.png);
	}
	.collection-slider .slick-next {
		right: 14px;
		background-image: url(../pc/resource/images/common/arr_right_bk_line.png);
	}
}


/*MAIN - SHARE*/
.main-share {
	max-width: 1600px;
	min-width: 1200px;
	margin: 80px auto 0;
	padding: 65px 0 100px;
	border-top: 1px dashed rgb(222,222,222);
}
.main-share .tit-style {text-align: center;}
.main-share .txt {
	margin: 7px 0 0;
	font-weight: 200;
	font-size: 24px;
	color: rgb(113,113,113);
	text-align: center;
	letter-spacing: -1.5px;
}
.share-slider {margin: 50px 0 60px;}
.list__share {font-size: 0;}
.list__share:after{ 
	content: '';
	display: block;
	clear: both;
}
.list__share > li {
	width: 9.3125%;
	float: left;
	margin: 0 0 0 0.75%;
	position: relative;
	top: 0;
	left: 0;
	vertical-align: top;
}
.list__share > li:after {
	content: '';
	display: block;
	padding-bottom: 100%;
}
.list__share > li:first-child {
	width: 19.375%;
	margin-left: 0;
}
.list__share > li:last-child {width: 19.375%;}
.list__share > li.mini {width: 59.75%;}
.list__share > li.mini:after {content: none;}
.list__share > li > a {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.list__share > li.mini > a {
	width: 15.58577405857741%;
	height: auto;
	float: left;
	margin: 0 0 1.255230125523013% 1.255230125523013%;
	position: relative;
	top: 0;
	left: 0;
	vertical-align: top;
}
.list__share > li.mini > a:after {
	content: '';
	display: block;
	padding-bottom: 100%;
}
.list__share > li.mini > a:first-child, .list__share > li.mini > a:nth-child(7) {margin: 0;}
.list__share > li.mini > a:nth-child(8),
.list__share > li.mini > a:nth-child(9),
.list__share > li.mini > a:nth-child(10),
.list__share > li.mini > a:nth-child(11),
.list__share > li.mini > a:nth-child(12) {margin-bottom: 0;}
.share-slider img {width: 100%;}
.list__share > li.mini img {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
.main-share .btn__style1 {margin: 0 auto;}
.share-slider .slick-prev {left: -96px;}
.share-slider .slick-next {right: -96px;}
@media screen and (max-width: 1800px) {
	.share-slider .slick-prev {
		left: 6px;
		background-image: url(../pc/resource/images/common/arr_left_bk_line.png);
	}
	.share-slider .slick-next {
		right: 6px;
		background-image: url(../pc/resource/images/common/arr_right_bk_line.png);
	}
}



/*상품 리스트 - LNB, 필터*/
.goods-area:after {
	content: '';
	display: block;
	clear: both;
}
.lnb {
	width: 14.375%;
	min-width: 220px;
}
.lnb--left {float: left;}
.lnb .category-box {margin: 32px 0 0;}
.lnb .category-box .tit {
	font-weight: 600;
	font-size: 18px;
	color: rgb(34,34,34);
	letter-spacing: -0.5px;
}
.list__category {margin: 25px 0 0;}
.list__category > li {margin: 15px 0 0;}
.list__category > li:first-child {margin: 0;}
.list__category li a {
	font-weight: 300;
	font-size: 12px;
	color: rgb(34,34,34);
	line-height: 22px;
	letter-spacing: -0.5px;
}
.depth2__category ul li.on > a, .depth2__category ul li:hover > a {border-bottom: 1px solid rgb(37,37,37);}
.depth2__category ul li a {margin-left: 10px;}

.filter-box {margin: 0px 0 0;}
.filter-box .filter {
	margin: 36px 0 0;
	padding: 37px 0 0;
	border-top: 1px dashed rgb(222,222,222);
}
.filter-box .filter.collection__filter {margin-top: 33px;}
.filter-box .tit-box {	
	position: relative;
	top: 0;
	left: 0;
}
.filter-box .btn__clear {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	font-weight: 200;
	font-size: 12px;
	color: rgb(34,34,34);
}
.filter-box .btn__clear:after {
	width: 100%;
	height: 1px;
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 3px;
	background-color: rgb(215,215,215);
}
.filter-box .tit {
	font-weight: 600;
	font-size: 12px;
	color: rgb(34,34,34);
	letter-spacing: -0.5px;
}
.scroll__filter {
	max-height: 312px;
	margin: 8px 0 0;
}
.list__filter label {
	padding-left: 22px;
	font-weight: 200;
	font-size: 12px;
	color: rgb(34,34,34);
	line-height: 26px;
	letter-spacing: -0.5px;
}
.color__filter .list__filter {font-size: 0;}
.color__filter .list__filter li {
	display: inline-block;
	margin: 0 3px 5px 0;
	vertical-align: top;
}
.color__filter .list__filter li:nth-child(7n) {margin-right: 0;}
.color__filter .list__filter li a {
	width: 30px;
	height: 30px;
	display: block;
	position: relative;
	top: 0;
	left: 0;
}
.color__filter .list__filter li.on a:after, .color__filter .list__filter li:hover a:after {
	width: 100%;
	height: 100%;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid rgb(34,34,34);
	box-sizing: border-box;
}
.color__filter .list__filter li img {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.scroll__filter .mCSB_scrollTools {
	width: 3px;
	opacity: 1;
}
.scroll__filter .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 3px;
	background-color: rgb(185,185,185) !important;
	border-radius: 0;
}
.scroll__filter .mCSB_scrollTools .mCSB_draggerRail {
	width: 3px;
	background-color: rgb(243,243,243) !important;
	border-radius: 0;
	-ms-filter: alpha(opacity=100);
	filter: alpha(opacity=100);
}


/*상품리스트 - 영역, SORT*/
.con__goods {
	width: 79.75%;
	padding: 12px 0 0;
}
.con__goods--right {float: right;}
.sort-box {
	position: relative;
	top: 0;
	left: 0;
}
.sort-box:after {
	content: '';
	display: block;
	clear: both;
}
.list__sort {font-size: 0}
.list__sort li {
	display: inline-block;
	margin-left: 10px;
}
.list__sort li:first-child {margin-left: 0;}
.list__sort li a {
	display: inline-block;
	font-family: 'Spoqa Han Sans';
	font-weight: 400;
	font-size: 12px;
	color: rgb(34,34,34);
	line-height: 35px;
}
.list__sort li.on a, .list__sort li:hover a {border-bottom: 1px solid rgb(37,37,37);}
.list__sort--left {float: left;}
.list__sort--right {float: right;}
.sort-box {margin: 14px 0 0;}
.sort-box .txt {
	display: inline-block;
	font-weight: 300;
	font-size: 12px;
	color: rgb(34,34,34);
	line-height: 35px;
}
.sort-box .txt strong {font-weight: 700;}
.sort-box .txt--center {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.con__goods .list-box {margin: 30px 0 100px;}
.con__goods .list-box .list__goods {margin: 0;}
.con__goods .paging {margin: 15px 0 0;}


/*VIEW - 상품 이미지 슬라이드*/
.info-box__goods {margin: 25px 0 0;}
.info-box__goods:after {
	content: '';
	display: block;
	clear: both;
}
.photo-box:after {
	content: '';
	display: block;
	clear: both;
}
.photo-box--left {float: left;}
.info-box__goods .thumb-box {
	width: 91px;
	height: 650px;
	float: left;
	margin: 25px 0;
	margin-right: 50px;
	position: relative;
	top: 0;
	left: 0;
	box-sizing: border-box;
}
.info-box__goods .thumb-slider a {
	width: 91px;
	height: 91px;
	display: block;
	position: relative;
	top: 0;
	left: 0;
	
}
.info-box__goods .thumb-slider .slick-current a:after, .info-box__goods .thumb-slider a:hover:after {
	width: 100%;
	height: 100%;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid rgb(34,34,34);
	box-sizing: border-box;
}
.info-box__goods .thumb-slider img {
	width: 100%;
	opacity: 0.7;
}
.info-box__goods .thumb-slider .slick-current a img, .info-box__goods .thumb-slider .slick-current a:hover img {opacity: 1;}
.info-box__goods .thumb-slider .slick-slide {margin: 5px 0;}
.info-box__goods .thumb-slider .slick-arrow {
	width: 14px;
	height: 10px;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.info-box__goods .thumb-slider .slick-prev {
	top: -25px;
	background-image: url(../pc/resource/images/common/arr_top_bk_14x10.png);
}
.info-box__goods .thumb-slider .slick-next {
	top: auto;
	bottom: -25px;
	background-image: url(../pc/resource/images/common/arr_bot_bk_14x10.png);
}

.info-box__goods .photo-slider {
	width: 650px;
	float: left;
	cursor: crosshair;
}
.info-box__goods .photo-slider .slick-dots {
	width: 10px;
	display: none !important;
	top: 50%;
	left: 5px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.info-box__goods .photo-slider .slick-dots li {
	display: block;
	margin: 10px 0 0 0;
}
.info-box__goods .photo-slider .slick-dots li:first-child {margin: 0;}
.info-box__goods .photo-slider .slick-dots li button {background-color: rgb(34,34,34);}
.info-box__goods .photo-slider .slick-dots li.slick-active button:after {border-color: rgb(34,34,34);}


/*VIEW - 상품 기본정보*/
.info__goods {width: 760px;}
.info__goods--right {float: right;}
.name-box__goods {}
.name-box__goods .category {
	font-weight: 600;
	font-size: 12px;
	color: rgb(113,113,113);
	letter-spacing: -0.5px;
}
.name-box__goods .name__eng {
	font-weight: 300;
	font-size: 36px;
	color: rgb(34,34,34);
	letter-spacing: -1.5px;
}
.name-box__goods .name__kor {
	font-family: 'Spoqa Han Sans';
  font-weight: 300;
	font-size: 15px;
	color: rgb(34,34,34);
}
.name-box__goods .goods__num {
	padding-left: 10px;
	margin-left: 7px;
	position: relative;
	top: 0;
	left: 0;
	font-weight: 300;
	font-size: 16px;
	color: rgb(34,34,34);
	letter-spacing: -0.5px;
}
.name-box__goods .goods__num:after {
	width: 1px;
	height: 8px;
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	background-color: rgb(204,204,204);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.name-box__goods > div p {display: inline-block;}
.price-box__goods {margin: 12px 0 0;}
.price-box__goods p, .price-box__goods .normal, .price-box__goods .sale {
	display: inline-block;
	font-weight: 300;
	font-size: 32px;
	color: rgb(34,34,34);
}
.price-box__goods p span.won {
	font-family: 'Spoqa Han Sans';
  font-weight: 300;
	font-size: 20px;
	color: rgb(34,34,34);
	letter-spacing: -2px;
}
.price-box__goods .normal--sale {
	margin-left: 5px;
	font-size: 18px;
	color: rgb(153,153,153);
	text-decoration: line-through;
}
.price-box__goods .normal--sale span.won {
	font-size: 12px;
	color: rgb(153,153,153);
}

/*view - 상품 기본정보(혜택, 이벤트, 배송부분)*/
.box__goods {border-top: 1px dashed rgb(222,222,222);}
.box__goods:after {
	content: '';
	display: block;
	clear: both;
}
.box__goods  dl {
	width: 50%;
	float: left;
	margin: 23px 0 24px;
	font-size: 0;
}
.box__goods  dl dt {
	width: 80px;
	display: inline-block;
	font-family: 'Spoqa Han Sans';
  font-weight: 400;
	font-size: 14px;
	color: rgb(34,34,34);
	line-height: 25px;
	vertical-align: top;
}
.box__goods  dl dd {
	width: calc(100% - 80px);
	display: inline-block;
	font-family: 'Spoqa Han Sans';
  font-weight: 300;
	font-size: 14px;
	color: rgb(34,34,34);
	line-height: 25px;
	vertical-align: top;
}
.box__goods  dl dd span {color: rgb(192,0,0);}
.benefit-box__goods {margin: 18px 0 0;}
.benefit-box__goods span {margin-right: 5px;}
.benefit-box__goods a {
	height: 25px;
	display: inline-block;
	padding: 0 5px;
	font-family: 'Spoqa Han Sans';
	font-weight: 400;
	font-size: 12px;
	color: rgb(34,34,34);
	text-align: center;
	line-height: 25px;
	border: 1px solid rgb(213,213,213);
	box-sizing: border-box;
}
.event-box__goods dl {width: 100%;}
.event-box__goods dl dd span {
	padding-left: 11px;
	margin-left: 6px;
	position: relative;
	top: 0;
	left: 0;
}
.event-box__goods dl dd span:first-child {
	padding-left: 0;
	margin-left: 0;
}
.event-box__goods dl dd span:after {
	width: 1px;
	height: 8px;
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	background-color: rgb(204,204,204);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.event-box__goods dl dd span:first-child:after {content: none;}
.choice-box__goods dl {margin-bottom: 10px;}
.choice-box__goods dl dt {
	width: 100%;
	display: block;
}
.choice-box__goods dl dd {
	width: 100%;
	display: block;
	margin: 10px 0 0;
}
.choice-box__goods .list__colorchip li {
	display: inline-block;
	margin: 0 20px 20px 0;
}
.choice-box__goods .list__colorchip li a {
	width: 40px;
	height: 40px;
	display: block;
	position: relative;
	top: 0;
	left: 0;
}
.choice-box__goods .list__colorchip li.on a:after, .choice-box__goods .list__colorchip li:hover a:after {
	width: 50px;
	height: 50px;
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px solid rgb(34,34,34);
	box-sizing: border-box;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.choice-box__goods .list__colorchip img {width: 100%;}
.choice-box__goods form {font-size: 0;}
.choice-box__goods .btn__num {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-indent: -9999px;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid rgb(34,34,34);
	box-sizing: border-box;
}
.choice-box__goods .btn__num.btn__num--minus {background-image: url(../pc/resource/images/common/ico_minus_bk.png);}
.choice-box__goods .btn__num.btn__num--plus {background-image: url(../pc/resource/images/common/ico_plus_bk.png);}
.choice-box__goods .input__num {
	width: 150px;
	height: 40px;
	display: inline-block;
	font-weight: 400;
	font-size: 14px;
	color: rgb(34,34,34);
	text-align: center;
	border-style: solid;
	border-color: rgb(34,34,34);
	border-width: 1px 0 1px 0;
	box-sizing: border-box;
	outline: 0;
}
.delivery-box__goods dl dd br {display: none;}


/*버튼 - 위시리스트, 장바구니, 바로구매, 공유*/
.btn-box__goods {
	padding: 30px 0 0;
	font-size: 0;
	border-top: 1px dashed rgb(222,222,222);
}
.btn-box__goods a {
	height: 50px;
	display: inline-block;
	margin-left: 10px;
	font-family: 'Spoqa Han Sans';
	font-weight: 400;
	font-size: 14px;
	color: rgb(255,255,255);
	text-align: center;
	line-height: 50px;
	vertical-align: top;
	box-sizing: border-box;
}
.btn-box__goods a.btn__wish {
	width: 50px;
	height: 50px;
	margin-left: 0;
	text-indent: -9999px;
	background: url(../pc/resource/images/common/ico_wish_bk.png) no-repeat center center;
	border: 1px solid rgb(213,213,213);
}
.btn-box__goods a.btn__cart {
	width: calc(50% - 70px);
	background-color: rgb(153,153,153);
	border: 1px solid rgb(153,153,153);
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.btn-box__goods a.btn__cart:hover {
	color: rgb(153,153,153);
	background-color: rgb(255,255,255);
}
.btn-box__goods a.btn__buynow {
	width: 50%;
	background-color: rgb(34,34,34);
	border: 1px solid rgb(34,34,34);
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.btn-box__goods a.btn__buynow:hover {
	color: rgb(34,34,34);
	background-color: rgb(255,255,255);
}
.share-box__goods {
	margin: 20px 0 0;
	font-size: 0;
}
.share-box__goods a {
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
}
.share-box__goods a:first-child {margin-left: 0;}


/*view detail*/
.detail-box__goods {
	min-height: 1520px;
	padding: 70px 0 80px;	
	position: relative;
	top: 0;
	left: 0;
}
.detail-box__goods:after {
	content: '';
	display: block;
	clear: both;
}
.detail-box__goods .detail {
	width: 1220px;
}
.detail-box__goods .detail--left {float: left;}


/*view detail - tab*/
.detail-box__goods .tab-box {
	width: 1220px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	font-size: 0;
	background-color: rgb(255,255,255);
}
.detail--fix .tab-box {
	position: fixed;
	left: auto;
}
.detail-box__goods .tab-box a {
	width: 25%;
	height: 38px;
	display: inline-block;
	font-family: 'Spoqa Han Sans';
	font-weight: 400;
	font-size: 14px;
	color: rgb(34,34,34);
	line-height: 38px;
	border-bottom: 1px solid rgb(238,238,238);
	box-sizing: border-box;
}
.detail-box__goods .tab-box a.on,  .detail-box__goods .tab-box a:hover {border-color: rgb(34,34,34);}


/*view detail - 상품설명*/
.detail-box__goods .con__tab .con-box {display: none;}
.detail-box__goods .con__tab .con-box01 {display: block;}
.detail-box__goods .con__tab .con-box .txt-box__deatil {
	font-weight: 200;
	font-size: 12px;
	color: rgb(34,34,34);
	line-height: 24px;
}
.detail-box__goods .con__tab .con-box01 ul {
	margin: 52px 0 0;
	font-size: 0;
}
.detail-box__goods .con__tab .con-box01 ul li {
	width: 49.18%;
	display: inline-block;
	margin: 1.64% 1.64% 0 0;
	vertical-align: top;
}
.detail-box__goods .con__tab .con-box01 ul li:first-child, .detail-box__goods .con__tab .con-box01 ul li:nth-child(2) {margin-top: 0;}
.detail-box__goods .con__tab .con-box01 ul li:nth-child(2n) {margin-right: 0;}
.detail-box__goods .con__tab .con-box01 ul li img {width: 100%;}

/*view detail - 상품정보*/
.goods-table__info {
	width: 100%;
	margin: 45px 0 0;
	border-bottom: 1px dashed rgb(222,222,222);
}
.goods-table__info th {
	width: 17.5%;
	min-width: 210px;
	font-family: 'Spoqa Han Sans';
	font-weight: 400;
	font-size: 14px;
	color: rgb(34,34,34);
	text-align: left;
	line-height: 54px;
	border-top: 1px dashed rgb(222,222,222);
	box-sizing: border-box;
}
.goods-table__info td {
	width: 82.5%;
	font-family: 'Spoqa Han Sans';
	font-weight: 300;
	font-size: 14px;
	color: rgb(34,34,34);
	border-top: 1px dashed rgb(222,222,222);
}


/*view detail - 상품 문의*/
.goods-info__qna {}
.goods-info__qna:after {
	content: '';
	display: block;
	clear: both;
}
.goods-info__qna .txt {
	float: left;
	font-family: 'Spoqa Han Sans';
	font-weight: 400;
	font-size: 14px;
	color: rgb(34,34,34);
	line-height: 24px;
}
.goods-info__qna .btn__qna {
	width: 120px;
	height: 40px;
	float: right;
	margin-top: 8px;
	font-family: 'Spoqa Han Sans';
	font-weight: 400;
	font-size: 12px;
	color: rgb(255,255,255);
	text-align: center;
	line-height: 40px;
	background-color: rgb(34,34,34);
	border: 1px solid rgb(34,34,34);
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.goods-info__qna .btn__qna:hover {
	color: rgb(34,34,34);
	background-color: rgb(255,255,255);
}
.con-box03 .no-qna {
	margin: 140px 0;
	font-family: 'Spoqa Han Sans';
	font-weight: 400;
	font-size: 14px;
	color: rgb(34,34,34);
	text-align: center;
}
.list__qna {
	margin: 40px 0 0;
	border-top: 1px dashed rgb(222,222,222);
}
.list__qna li {
	font-size: 0;
	border-bottom: 1px dashed rgb(222,222,222);
}
.list__qna li.qna--open {border-bottom: 0;}
.list__qna p, .list__qna a {
	display: inline-block;	
	padding: 15px 0 17px;
	font-family: 'Spoqa Han Sans';
	font-weight: 400;
	font-size: 14px;
	color: rgb(34,34,34);
	line-height: 22px;
	vertical-align: top;
	box-sizing: border-box;
}
.list__qna .tit__qna {width: 59%;}
.list__qna .condition__qna {width: 15%;}
.list__qna .id__qna {width: 13%;}
.list__qna .date__qna {width: 13%;}
.list__qna li:first-child p,
.list__qna li:first-child a,
.list__qna .condition__qna, 
.list__qna .id__qna, 
.list__qna .date__qna {text-align:center;}
.list__qna .q__qna a {
	padding-left: 20px;
	position: relative;
	top: 0;
	left: 0;
}
.list__qna .q__qna a:before {
	content: 'Q.';
	position: absolute;
	top: 15px;
	left: 0;
}
.list__qna .a__qna {
	display: none;
	padding: 0 20px 15px;
	background-color: rgb(238,238,238);
}
/*.list__qna li.qna--open .a__qna {display: block;}*/
.list__qna .a__qna .a__txt p {
	width: 100%;
	padding-left: 20px;
	position: relative;
	top: 0;
	left: 0;
}
.list__qna .a__qna .a__txt p:before {
	content: 'A.';
	position: absolute;
	top: 15px;
	left: 0;
}
.list__qna .a__qna  .a__txt p.a__date {padding: 0 0 0 20px;}
.list__qna .a__qna  .a__txt p.a__date:before {content: none;}
.list__qna .a__qna  .a__txt p.a__date span {
	padding-left: 10px;
	margin-left: 8px;
	position: relative;
	top: 0;
	left: 0;
}
.list__qna .a__qna  .a__txt p.a__date span:after {
	width: 1px;
	height: 8px;
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	background-color: rgb(204,204,204);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.con-box03 .paging {margin-top: 40px;}

/*view detail - 배송/교환/반품안내*/
.delivery-box__detail {
	padding: 34px 0 0;
	margin: 35px 0 0;
	border-top: 1px dashed rgb(222,222,222);
}
.delivery-box__detail:first-child {
	padding: 0;
	margin: 0;
	border: 0;
}
.delivery-box__detail .tit {
	font-family: 'Spoqa Han Sans';
	font-weight: 400;
	font-size: 18px;
	color: rgb(34,34,34);
}
.delivery-box__detail dl {
	margin: 10px 0 0;
	font-size: 0;
}
.delivery-box__detail dl dt {
	width: 140px;
	display: inline-block;
	font-family: 'Spoqa Han Sans';
	font-weight: 400;
	font-size: 14px;
	color: rgb(34,34,34);
	line-height: 24px;
	vertical-align: top;
}
.delivery-box__detail dl dd {
	width: calc(100% - 140px);
	display: inline-block;
	font-family: 'Spoqa Han Sans';
	font-weight: 300;
	font-size: 14px;
	color: rgb(34,34,34);
	line-height: 24px;
	vertical-align: top;
}
.delivery-box__detail .lh {line-height: 32px;}


/*움직이는 상품 리스트 1단 영역*/
.collection__goods {
	width: 305px;
	float: right;
	overflow: hidden;
	background-color: rgb(255,255,255);
}
.collection__goods .tit {
	width: inherit;
	position: absolute;
	top: 0;
	z-index: 999;
	font-weight: 300;
	font-size: 12px;
	color: rgb(34,34,34);
	line-height: 37px;
	background-color: rgb(255,255,255);
	border-bottom: 1px solid rgb(34,34,34);
}
.detail--fix .collection__goods .tit {position: fixed;}
.collection__goods .list__goods {margin-top: 40px;}




@media screen and (min-width: 1920px) {
	/*.main-slider {widtH: 1920px;}*/
}

@media screen and (max-width: 1600px) {
	.goods-box,
	.main-collection,
	.main-share {
		max-width: 1580px;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
	}

	/*LNB 컬러칩*/
	.color__filter .list__filter li:nth-child(7n) {margin-right: 3px;}
	.color__filter .list__filter li:nth-child(6n) {margin-right: 0;}


	/*VIEW 슬라이드 변환*/
	.info-box__goods .thumb-box {display: none;}	
	.info-box__goods .photo-slider {width: 580px;}
	.info-box__goods .photo-slider .slick-dots {display: block !important;}

	/*VIEW 상품기본정보*/
	.info__goods {width: calc(100% - 590px);}
	.benefit-box__goods {margin-top: 8px;}
	.box__goods dl {margin: 13px 0 14px;}
	.delivery-box__goods dl dd {line-height: 22px;}
	.delivery-box__goods dl dd br {display: block;}
	.btn-box__goods {padding: 20px 0 0;}

	/*view - 상품리스트 5단*/
	.goods-box.like {padding-top: 50px;}

	/*view detail*/
	.detail-box__goods .detail, .detail-box__goods .tab-box {
		width: 76.3%;
		min-width: 900px;
	}
	.collection__goods {width: 18.7%;}
	.detail--fix .collection__goods .tit {right: 10px;}

}
