/*! 초기화(옵션) 스타일 */
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700');

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

img {
	vertical-align: middle;
	border: 0;
}

ol, ul, li, dl, dt, dd {
	list-style: none;
}

h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
}

body, div, dl, dt, dd, ul, li, ol, p, figure {
	padding: 0;
	margin: 0;
}

/* 필요한 base 넣을것 */
:root,
html {
	font-size: 10px;
}

body {
	font-family: 'Muli', 'Spoqa Han Sans';
	font-size: 12px;
	line-height: 1.5;
}

button, input[type='submit'], input[type='reset'], input[type='button'] {
	padding: 0;
	border: 0;
	background: none;
	line-height: normal;
	font: inherit;
	color: inherit;
	overflow: visible;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
}

button {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	outline:0;
}

input[type='submit'], input[type='reset'], input[type='button'] {
	-webkit-appearance: button;
	   -moz-appearance: button;
	        appearance: button;
}

a {
	color: inherit;
}

a:link {
	text-decoration: none;
}

.hidden {
	display: none;
}

.acc-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	line-height: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	visibility: hidden;
	font-size: 0;
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

input[type='text'], input[type='tel'], input[type='password'], textarea {
	-webkit-appearance: none;
	border-radius: 0;
	margin: 0;
	line-height: normal;
	border: 0;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	     appearance: none;
}

input[type='number'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	     appearance: none;
	border-radius: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.ui-loader {
	display: none;
}

select {
	border-radius: none;
	-webkit-border-radius: 0;
}

.cb {
	clear: both;
}

a[href^=tel] {
	color: inherit;
}

input[type="password"]{font-family: sans-serif;}


/*슬라이더 공통*/
.slick-slide img {width: 100%;}
.slick-arrow {
	width: 14px;
	height: 22px;
	display: block;
	position: absolute;
	top: 50%;
	z-index: 11;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 14px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.slick-prev {	
	left: 0;
	background-image: url(/mo/resource/images/common/arr_left_bk.png);
}
.slick-next {
	right: 0;
	background-image: url(/mo/resource/images/common/arr_right_bk.png);
}
.slick-dots {
	width: 100%;
	position: absolute;
	bottom: 20px;
	left: 0;
	z-index: 11;
	font-size: 0;
	text-align: center;
}
.slick-dots li {
	display: inline-block;
	margin-left: 10px;
}
.slick-dots li:first-child {margin-left: 0;}
.slick-dots li button {
	width: 10px;
	height: 10px;
	display: block;
	position: relative;
	top: 0;
	left: 0;
	background-color: rgb(255,255,255);
	border-radius: 50%;
}
.slick-dots li.slick-active button:after {
	width: 20px;
	height: 20px;
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgb(255,255,255);
	border-radius: 50%;
	box-sizing: border-box;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
body .slick-vertical .slick-slide {border: 0;}


/*공통 타이틀 스타일*/
.tit-style {
	font-family: 'Muli', 'Spoqa Han Sans';
	font-weight: 300;
	font-size: 2.3rem;
	color: rgb(34,34,34);
	letter-spacing: -0.5px;
}
.tit-style2{
	margin-bottom: 20px;
	text-align: center;	
    font-size: 2.0rem;
	font-family: 'Spoqa Han Sans';
	font-weight: 700;
    color: rgb(51,51,51);
}
.tit-style3{
	margin-bottom: 15px;
	font-weight: normal;	
    font-size: 1.5rem;
}
.tit-style4{
	margin-bottom: 25px;
	padding-bottom: 15px;
	text-align: center;
	border-bottom: 2px solid rgb(0,0,0);
	font-family: 'Spoqa Han Sans';
	font-size: 1.4rem;
}
.tit-sub-style{
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 1.3rem;
}
.tit-sub-style2{
	margin-bottom: 13px;
	font-size: 1.5rem;
	font-weight: 400;	
}
.tit-sub-style3{
	padding-bottom: 10px;
	font-size: 1.4rem;
	color: rgb(51,51,51);
}
.tit-sub-style4{
	margin-bottom: 15px;
	text-align: center;
	font-weight: normal;
	font-size: 1.4rem;
}
.tit-sub-style5{
	margin-bottom: 15px;
    font-size: 1.4rem;
	font-weight: normal;	
}
.tit-sub-style5 > span{
	display: block;
	margin-top: 4px;
	margin-bottom: 3px;
	font-size:1.2rem;
	color:rgb(102,102,102);
}
/*공통 버튼 스타일*/
.btn__style1 {
	width: 100px;
	height: 35px;
	display: block;
	font-weight: 300;
	font-size: 1.0rem;
	color: rgb(113,113,113);
	text-align: center;
	line-height: 35px;
	letter-spacing: -0.5px;
	border: 2px solid rgb(34,34,34);
	box-sizing: border-box;
}
/*버튼 border style*/
.btn__style--bd{
	border: 1px solid rgb(0,0,0);
	background: rgb(255,255,255);	
	color: rgb(0,0,0);
}
.btn__style--bd2{
	border:  1px solid rgb(204,204,204);
	color: rgb(130,130,130);
}
.btn__style--bd3{
	border:  1px solid rgb(213,213,213);
	color: rgb(34,34,34);
}
/*버튼 bg style*/
.btn__style--bg{
	background: rgb(34,34,34);
	color: rgb(255,255,255);
}
.btn__style--bg2{
	background: rgb(238,238,238);
	color: rgb(51,51,51);
}
.btn__style--bg3{
	background: rgb(153,153,153);
	color: rgb(255,255,255);
}
/*포인트컬러*/
.pcolor{color: rgb(192,0,0) !important;}
.pcolor2{color: rgb(34,34,34) !important;}

/*체크박스 스타일*/
.input__checkbox {
	position: absolute;
	z-index: -99999;
	opacity: 0;
}
.input__checkbox + label {
	min-width: 13px;
	min-height: 13px;
	display: block;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(/mo/resource/images/common/bg_checkbox_off.jpg);
	background-size: 13px;
}
.input__checkbox:checked + label {background-image: url(/mo/resource/images/common/bg_checkbox_on.jpg);}

/* 서브 페이지 checkbox */
.check-box {
    position: relative;
}
.check-box input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}
.check-box label {
    display: inline-block;
	position: relative;
	height:20px;
	vertical-align:middle;
	line-height: 20px;
  	font-size: 1.3rem;
}
.check-box input[type="checkbox"] + label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	background:  url(/mo/resource/images/common/bg_checkbox_off2.png) 0 0 no-repeat;
	background-size: 20px;
}
.check-box input[type="checkbox"]:checked + label:before {
	background:  url(/mo/resource/images/common/bg_checkbox_on2.png) 0 0 no-repeat;
	background-size: 20px;
}

/*셀렉트 박스 스타일*/
.select__style1 {
	width: 100%;
	height: 35px;
	padding: 0 15px;
	font-weight: 200;
	font-size: 1.2rem;
	color: rgb(34,34,34);
	letter-spacing: -0.5px;
	box-sizing: border-box;
	border: 1px solid rgb(222,222,222);
	background-repeat: no-repeat;
	background-position: calc(100% - 15px) center;
	background-image: url(/mo/resource/images/common/arr_bot_bk_15x10.png);
	background-size: 8px;
	-webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
	outline: 0;
}

/*MARGIN*/
.mb40{margin-bottom: 40px !important;}


/*PAGING*/
.paging {
	width: 320px;
	margin: 0 auto;
	position: relative;
	top: 0;
	left: 0;
	font-size: 0;
	text-align: center;
}
.paging a {
	width: 35px;
	height: 35px;
	display: inline-block;
	margin-left: 10px;
	font-weight: 300;
	font-size: 1.2rem;
	color: rgb(34,34,34);
	text-align: center;
	line-height: 35px;
	background-color: rgb(255,255,255);
	border: 1px solid rgb(204,204,204);
	box-sizing: border-box;
}
.paging a:not(.btn__paging).on {background-color: rgb(249,249,249);}
.paging .num {
	display: inline-block;
	margin: 0;
}
.paging .num a:first-child {margin-left: 0;}

.btn__paging {
	position: absolute;
	top: 0;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 8px;
}
.btn__paging.prev {
	margin-left: 0;
	left: 0;
	background-image: url(/mo/resource/images/common/arr_left_bk_15x10.png);
	background-size: 5px;
}
.btn__paging.next {
	right: 0;
	background-image: url(/mo/resource/images/common/arr_right_bk_15x10.png);
	background-size: 5px;
}
@media screen and (max-width: 320px) {
	.paging {width: 280px;}
	.paging a {margin-left: 5px;}
}

