/*서브페이지 전부 이파일에*/



/*서브페이지 공통*/
#subContents{
	min-height:70vh;
	padding: 0 20px;
	margin-bottom: 80px;
}
/*SUB LNB*/
.sub__wrap{
	margin-top: 40px;
}
.sub-lnb{
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	padding-left: 20px;
	border: 1px solid rgb(233,232,232);
	background: rgb(255,255,255)  url(http://brics.styleship.com/mo/resource/images/btn/btn_select_menu.png) no-repeat 96% center;
	background-size: 12px;
	font-size: 1.4rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
/*input , select  style*/
input[type='text'].input__style, 
input[type='tel'].input__style, 
input[type='password'].input__style,
.select__style2{
    height: 35px;
    padding: 0 0 0 10px;
	vertical-align: middle;
    border: 1px solid rgb(205,205,205);
    background: rgb(238,238,238);
	font-size:1.3rem;
    color: rgb(51,51,51);
	box-sizing:border-box;
}
input[type='text'].input__style2, 
input[type='tel'].input__style2, 
input[type='password'].input__style2, 
.select__style3{
	height: 30px;
	padding-left: 10px;
	border: 1px solid rgb(204,204,204);
	font-size:1.3rem;
	vertical-align: middle;
	box-sizing: border-box;		
}
.select__style2{
	background:  rgb(238,238,238) url(http://brics.styleship.com/mo/resource/images/sub/bg_select.gif) right -1px no-repeat;
	background-size: 23px;
	border-right: 0;
}
.select__style3{
	background:  rgb(255,255,255) url(http://brics.styleship.com/mo/resource/images/sub/bg_select02.gif) right center no-repeat;
	background-size: 27px;
}
[class^="select__style"]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
}
/*select box 2개 이상*/
.select__box.col2{
	font-size: 0;
}
.select__box.col2 select{width: 48.21%;}
.select__box.col2 select + select{
	margin-left: 10px;
}
.select__box.row2 select + select{
	margin-top: 10px;
}

.input__size{width: 100%;}
.input__size2{width: calc(100% - 77px);}
.input__size3{width: calc(100% - 11px);}
.input__size4{width: 76.19%;}

.select__size{width: 100%;}
.select__size2{width: calc(100% - 11px);}


/*서브페이지 상단 공통 텍스트*/
.sub__txt{
	margin: 30px 0;
	text-align: center;
}
.sub__txt p{
	font-size: 1.3rem;
    line-height: 22px;
	color:rgb(102,102,102);
}
/*TEXT*/
.txt--center{
	text-align: center;
	font-size: 1.4rem;
}
.txt--center.gray{
	color: rgb(119,119,119);
}
.ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* RADIO */
.radio-area{
	font-size: 1.3rem;
}
.radio-area input{
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}
.radio-area input[type="radio"] + label:before{
	content: '';
	display: inline-block;
	width: 16px;
	height: 20px;
	margin-right: 7px;
	vertical-align: middle;
	background:  url(http://brics.styleship.com/mo/resource/images/common/bg_radio.png) 0 -20px no-repeat;
	background-size: 16px;
}	
.radio-area input[type="radio"]:checked + label:before{background-position-y: 0;}
.radio-area span + span{margin-left: 10px;}

/*서브페이지 버튼 공통*/
.btn-area{
	text-align: center;
}
.btn-area a{
	display: inline-block;
	height: 45px;
	line-height: 45px;	
	text-align: center;
	font-size: 1.4rem;
	box-sizing: border-box;
}
.btn-area.col1 a{
	width: 42.1875%;
}
.btn-area.col1--100 a{
	width: 100%;
}
.btn-area.col2{overflow: hidden;}
.btn-area.col2 a{
	width: 48.57%;	
	float: left;
}
.btn-area a + a{
	margin-left: 2.8%;
}
.btn-area.multi a:first-child{
	width: 100%;
	margin-bottom: 10px;
}
.btn-area.multi a:first-child + a{
	margin: 0;
}
.btn-area.multi a{
	width: 48.57%;	
	float: left;
}


/* TABLE */
table td.left{text-align: left;}
.list__basic + .list__basic{
	margin-top: 35px;
}
.list__basic{
	border-top: 2px solid rgb(34,34,34);
	border-bottom: 1px solid rgb(238,238,238);
	font-size: 1.3rem;
}
.list__basic.line{
	border-top: 1px solid rgb(232,232,232);
}
.list__basic li{
	padding: 20px 0;
}
.list__basic li + li {
	border-top: 1px solid rgb(232,232,232);
}
.list__basic .view{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 1.3rem;
	box-sizing: border-box;
}
.list__basic .define{
	font-size: 0;
}
.list__basic .define + .define{
	margin-top: 10px;
}
.list__basic .define dt,
.list__basic .define dd{
	display: inline-block;
	font-size: 1.3rem;
}
.list__basic .define dt{
	width: 95px;
	vertical-align: top;
}
.list__basic .define dd{
	width: calc(100% - 95px);
}
.list__basic .date{
	padding-bottom: 15px;
}
.list__basic .order-date{
	margin: -5px 0 15px;
	padding: 0 0 15px;
	border-bottom: 1px solid rgb(238,238,238);
}
.list__basic .order-date .view{
	margin-top: 7px;
}
.list__basic .select-btn a{
	width: 85px;
	margin-top: 7px;
}
.list__basic .select-btn a + a{
	margin-left: 4px;
}
.list__basic .pd-name .check-box{
	display: inline-block;
	width: 20px;
	vertical-align: top;
}
.list__basic .pd-name .photo{
	display: inline-block;
	width: 75px;
	margin-right: 20px;
}
.list__basic .pd-name .txt{
	display: inline-block;
	width: calc(100% - 99px);
	vertical-align: top;
	line-height: 22px;
}
.list__basic .pd-name.check .txt{
	width: calc(100% - 122px);	
}
.list__basic .pd-name .txt dd{
	color: rgb(153,153,153);
}
.list__basic .pd-name .photo img{
	width: 100%;
}
.list__basic .promotion{
	margin-top: 10px;
	line-height: 21px;
	font-size: 1.3rem;
	color: rgb(153,153,153);
}
.list__basic .sale{
	margin-left: 10px;
	text-decoration: line-through;
	color: rgb(153,153,153);
}
.list__basic .pd-info{
	padding-top: 15px;
}
.list__basic .add-info{
	padding: 20px 0;
	font-family: 'Spoqa Han Sans';
}
.list__basic .mileage input{
	width: 110px;
	height: 30px;
	padding-right: 10px;
	text-align: right;
	border: 1px solid rgb(201,201,201);
	background: rgb(255,255,255);
	color: rgb(34,34,34);
	box-sizing: border-box;
}
.list__basic .mileage p{
	margin-top: 10px;
	font-size: 1.2rem;
	color: rgb(153,153,153);
}
.list__basic .mileage .check-box{
	margin-top: 5px;
}
.list__basic .add-info .view{
	width: 70px;
}
.list__basic .add-info .view{
	margin-left: 5px;
}
.list__basic .add-info .total{
	margin-top: 15px;
	text-align: right;
}
.list__basic .add-info .total dt,
.list__basic .add-info .total dd{
	display: inline-block;
	font-weight: 800;
}
.list__basic .add-info .total dt{
	margin-right: 7px;
}
.list__basic .order-btn{
	margin-left: -10px;
}
.list__basic .order-btn > a{
	display: inline-block;
	padding: 40px 7px 0;
	background-position:center top;
	background-repeat: no-repeat;
}
.list__basic .order-btn .cart{
	background-image: url(http://brics.styleship.com/mo/resource/images/btn/btn_cart.png);
	background-size: 30px;
}
.list__basic .order-btn .delete{
	background-image: url(http://brics.styleship.com/mo/resource/images/btn/btn_cart_close.png);
	background-size: 30px;
	color: rgb(113,113,113);
}
.list__basic .order-btn .now{
	background-image: url(http://brics.styleship.com/mo/resource/images/btn/btn_noworder.png);
	background-size: 30px;	
}
.list__basic .q .num{
	display: inline-block;
	width: 35px;
}
.list__basic .q .tit{
	display: inline-block;
	width: calc(100% - 39px);
}
.list__basic .q .tit > a{
	display: inline-block;
	max-width:92%;
	padding-right: 10px;
	box-sizing: border-box;
	vertical-align: middle;
}
.list__basic .q-info{
	margin-top: 10px;
	padding-left: 38px;
}
.list__basic .q-info .result{
	float: right;
	color: rgb(153,153,153);
}
.list__basic .a{
	display: none;
}
.list__basic .a .txt{
	padding: 20px 20px 0;
	line-height: 21px;
}
.list__basic .a .con{
	padding: 0 20px;
	margin-top: 20px;
	border-top: 1px solid rgb(232,232,232);
}
.list__basic .a .con .name{
	padding: 15px 0;
	border-bottom: 1px solid rgb(232,232,232);
}
.list__basic .a .con dt,
.list__basic .a .con dd{
	padding: 15px 20px;
	border-bottom: 1px solid rgb(232,232,232);
}
.list__basic .a .con i{
	margin-left: -18px;
	padding-right: 5px;
	font-style: normal;
}
.list__basic .a .btn-area{
	margin: 20px 0 0;
}
.list__basic .file{
	width: 15px;
	height: 15px;
	text-indent: -9999px;
}
.list__basic .reason__input{
	margin-top: 13px;
}
.list__basic .reason__input .reason{
	margin-top: 15px;
}
.list__basic .reason__input .reason select{
    height: 35px;
	margin-bottom: 10px;
}

.member__table{
	width: 100%;
}
.member__table th{
	width: 70px;
	padding: 15px 0 18px;
	text-align: left;
	font-weight: 400;
	font-size: 1.3rem;
	box-sizing: border-box;
}
.member__table th.necess{
	padding: 15px 0 18px 12px;
}
.member__table th.necess:before{
	content: '*';
	display: inline-block;
	margin: 0 3px 0 -12px;
}
.member__table td{
	padding: 10px 0;
	font-size: 1.3rem;
}
.member__table .caution{
	margin-top: 10px;
	font-size: 1.2rem;
	color: rgb(153,153,153);
}
.member__table .vt{vertical-align: top;}
.member__table .email input{
	width: calc(100% - 24px);
}
.member__table .char{
	display: inline-block;
	width: 20px;
	text-align: center;
}
.member__table .email .char + select,
.member__table .email .char + input{
	width: 100%;
	margin-top: 10px;
}
.member__table .btn-id{
	display: inline-block;
	width: 67px;
	height: 35px;
	line-height: 35px;
	margin-left: 10px;
	text-align: center;
	vertical-align: middle;
	border:  1px solid rgb(34,34,34);
	color: rgb(34,34,34);
	box-sizing: border-box;
}
	/*회원정보 수정 테이블*/
.modify-area .member__table th.necess{
	padding: 11px 0 12px 12px;
}
.modify-area .member__table td{
	padding: 6px 0;
}

.etc__table{
	width: 100%;
	margin-bottom: 35px;
}
.etc__table th{
	width: 80px;
	padding: 10px 0;
	font-weight: normal;
	background: rgb(153,153,153);
	color: rgb(255,255,255);	
}
.etc__table td{
	padding: 10px 5px;
	line-height: 22px;
	text-align: center;
	border-top: 2px solid rgb(248,248,248);
	background: rgb(255,255,255);
}
.etc__table tr + tr th{border-top: 2px solid rgb(255,255,255);}
.etc__table td + td{border-left: 2px solid rgb(248,248,248);}
.etc__table td[class*=bf-]:before{
	content: '';
	display: block;
	width: 58px;
	height: 58px;
	margin: 0 auto 10px;
	background:  url(http://brics.styleship.com/mo/resource/images/sub/ico_benefit.png) 0 0 no-repeat;
	background-size: 240px;
}
.etc__table .bf-g{background-position-x: -60px;}
.etc__table .bf-s{background-position-x: -120px;}
.etc__table .bf-f{background-position-x: -183px;}
.etc__table .define{
	padding: 0 15px 40px;
	border: 0;
}
.etc__table .define dt{
	margin-bottom: 10px;
	font-size: 1.3rem;
	font-weight: 800;
	color: rgb(102,102,102);
}
.etc__table .define dd{
	line-height: 17px;
}


/*INPUT TABLE*/
.list__input{
	width: 100%;
	border-top: 1px solid rgb(51,51,51);
	border-bottom: 1px solid rgb(238,238,238);
}
.list__input tr + tr{
	border-top: 1px solid rgb(238,238,238);
}
.list__input th{
	width: 75px;
	padding: 22px 0 15px;
	text-align: left;
	vertical-align: top;
	font-size: 1.3rem;
	font-weight: normal;
}
.list__input td{
	padding: 15px 0;
	font-size: 1.3rem;
}
.list__input .check-box{
	margin-top: 10px;
}
.list__input .caution{
	margin-top: 7px;
	line-height: 19px;
	font-size: 1.2rem;
	color: rgb(153,153,153);
}
.list__input .phone{
	font-size: 0;
}
.list__input .phone > div{
	position: relative;
	display: inline-block;
	width: 33.33%;
	text-align: right;
}
.list__input .phone .char{
	position: absolute;
	width: 11px;
	height: 35px;
	line-height: 35px;
	left: 0;
	top: 0;
	text-align: center;
	font-size: 1.3rem;
}
.list__input .address .radio-area{
	padding-top: 7px;
}
.list__input .address button{
	display: block;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	margin-top: 10px;
	vertical-align: middle;
	box-sizing: border-box;
}
.list__input .address .detail dl{
	margin-left: -75px;
	margin-top: 10px;
	font-size: 0;
}
.list__input .address .detail dt{
	width: 75px;
}
.list__input .address .detail dt,
.list__input .address .detail dd{
	display: inline-block;
	font-size: 1.3rem;
}
.list__input .address .detail dd{
	width: calc(100% - 75px);
}
.list__input .file{
	padding-top: 20px;
}
.list__input .file > p{
	margin-top: 10px;
	font-size: 1.2rem;
	color: rgb(153,153,153);
}
.list__input textarea{
	width: 100%;
	height: 165px;
	padding: 10px;
	line-height: 24px;
	box-sizing:border-box;
	border: 1px solid rgb(204,204,204);
	background:rgb(238,238,238);
	resize:none;
	font-size: 1.3rem;
}


/*RESULT TABLE(결제완료)*/
.list__result{
	width: 100%;
	font-size: 1.3rem;
}
.list__result.line tbody{
	border-top: 2px solid rgb(34,34,34);	
}
.list__result tbody{
	display: block;
	padding: 15px 0;
	border-top: 1px solid rgb(232,232,232);
	border-bottom: 1px solid rgb(232,232,232);
}
.list__result th{
	width: 85px;
	padding: 8px 0 6px;
	vertical-align: top;
	text-align: left;
	font-weight: normal;
	box-sizing: border-box;
}
.list__result td{
	padding: 6px 0;
	line-height: 22px;
}
.list__result .underline{
	text-decoration: underline;
}
.list__result .btn{
    display: block;
    width: 140px;
    height: 30px;
	line-height: 30px;
	margin-top: 15px;
	text-align: center;
	vertical-align: middle;
	font-size: 1.2rem;
}
.list__result .big{
	font-size: 2.6rem
}

/*-MEMBER-*/
	/*로그인*/
.login-area{
	margin-bottom: 40px;
}
.login-area h3{
	margin-bottom: 10px;
    font-size: 1.4rem;
	font-weight: 400;
	color:rgb(51,51,51);	
}
.login__box{
	padding-top: 20px;
	border-top: 1px solid rgb(238,238,238);
}
.login__box > .field{
	margin-bottom: 15px;
}
.login__box > .field > div{
	margin-bottom: 10px;
}
.login__box .btn{
    display: inline-block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
}
.login-area .etc{
	margin: 20px 0 30px;
	font-size: 1.3rem;
}
.login-area .member-link{
	margin-top: 15px;
}
.login-area .member-link a + a{
	position: relative;
	margin-left: 5px;
}
.login-area .member-link a + a:before{
	content: '';
	display: inline-block;
	width:1px;
	height: 9px;
	margin-right: 10px;
    background:rgb(93,93,93);	
}
	/*회원가입 이용약관*/
.agree-area{
	border-top: 1px solid rgb(232,232,232);
}
.agree-area .txt{
	margin: 25px 0 30px;
	text-align: center;
	line-height: 22px;
	font-size:1.3rem; 
}
.agree-area .agree-info{
	overflow: hidden;
}
.agree-area .agree-info > div{
	margin-bottom: 40px;
}
.agree-area .scroll__box{
	width: 100%;
	height: 200px;
	overflow-y: scroll;
	padding: 15px;
	margin-bottom: 10px;
	line-height: 17px;
	font-size: 1.2rem;
	font-family: 'dotum';
	border: 1px solid rgb(238,238,238);
	background: rgb(250,250,250);
	box-sizing: border-box;
	color: rgb(51,51,51);
}
.agree-area .radio-area{
	font-size: 13px;
}
.agree-area .radio-area p{
	margin-bottom: 10px;
}
.agree-area .etc__list{
	border: 1px solid rgb(204,204,204);
}
.agree-area .etc__list li{
	text-align: left;
	box-sizing: border-box;
	font-size: 1.2rem;
}
.agree-area .etc__list li + li{
	border-top: 1px solid rgb(204,204,204);
}
.agree-area .etc__list dt {
	padding: 15px 20px;
	background: rgb(245,245,245);
	font-weight: normal;
	border-bottom: 1px solid rgb(204,204,204);
}
.agree-area .etc__list dd {
	padding: 15px 20px;
	line-height: 24px;
	background: rgb(255,255,255);
}
.agree-ad{
	margin-bottom: 40px;
}
.agree-ad > p{
	padding: 12px 0 17px;
	line-height: 22px;
	font-size: 1.3rem;
	color: rgb(153,153,135);
}
.agree-all{
	margin-bottom: 25px;
}
.agree-all .check-box{
	display: block;
    width: 100%;
	margin-bottom: 20px;
    padding: 12px 0;
    text-align: center;
    background: rgb(238,238,238);
	font-size: 1.3rem;
}
	/*회원가입*/
.join__box{
	margin-bottom: 30px;
}
.join__box > div{
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(238,238,238);
}
.join__box > div + div{
	margin-top: 35px;
}
.join__box h3{
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgb(0,0,0);
	font-size: 1.3rem;
	font-weight: 400;
}
.agree-sms{
	padding: 20px 0;
	border-bottom: 1px solid rgb(238,238,238);
	font-family: 'Spoqa Han Sans';
}
.agree-sms li + li{
	margin-top: 13px;
}
	/*회원가입 완료*/
.join-complete{
	padding: 33px 0;
	margin-bottom: -250px;
	text-align: center;
}
.join-complete h2{
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 1.8rem;
}
.join-complete p{
	margin-bottom: 15px;
	line-height: 22px;
	font-size: 1.3rem;
}
	/*아이디/비번 찾기*/
.mb-search-area{
	overflow: hidden;
}
.mb-search-area > div + div{
	margin-top: 50px;
}
.mb-search-area p{
    margin-bottom: 20px;
	padding-top: 10px;
	border-top: 1px solid rgb(238,238,238);
    line-height: 22px;
    font-size: 1.3rem;
    color: rgb(51,51,51);
}
.mb-search-area .input-box{
	margin-bottom: 20px;
}
.mb-search-area .input-box label{
	display: inline-block;
	width: 70px;
	font-size: 1.3rem;
}
.mb-search-area .input-box input{
	width: calc(100% - 74px);
}
	/*비밀번호 변경*/
.pw-area .inner{
	padding: 20px 0;
	margin-bottom: 40px;
	border-top: 1px solid rgb(238,238,238);
	border-bottom: 1px solid rgb(238,238,238);
}

.pw-area td p{
	margin-top: 7px;
	font-size: 1.3rem;
	color: rgb(119,119,119);
}
	/*회원탈퇴*/
.mb-out__box{
	padding: 20px 0;
	margin-bottom: 40px;
	border-top: 1px solid rgb(238,238,238);
	border-bottom: 1px solid rgb(238,238,238);
}
.mb-out__box .txt{
	margin-bottom: 20px;
	line-height: 22px;
	font-size: 1.3rem;
	color: rgb(51,51,51);
}
.mb-out__box .radio-area{
	padding-bottom: 20px;
	font-size: 1.3rem;
}
.mb-out__box .radio-area p{
	margin-bottom: 5px;
	font-size: 1.3rem;
}
.mb-out__box .member__table{
	border-top: 1px solid rgb(238,238,238);	
}


/*-CUSTOMER-*/
	/*공지사항*/
.notice-area .search{
	position: relative;
	margin-top: -25px;
	padding: 25px 0 20px;
}
.notice-area .search input{
   background: rgb(255,255,255);
}
.notice-area .search .btn__search{
	position: absolute;
	top: 33px;
	right: 10px;
	width: 19px;
	background-size: 12px;
	text-indent: -9999px;
}
.notice-area .list__basic .tit{
	margin-bottom: 10px;
	height: 46px;
	line-height: 23px;
	overflow: hidden;
	text-overflow: ellipsis; 
	display: -webkit-box; 
	-webkit-line-clamp: 2; /* ���μ� */ 
	-webkit-box-orient: vertical;
	word-wrap:break-word; 
}
.notice-area .list__basic{
	margin-bottom: 30px;
}
.notice-area .back-list{
	margin-top: 20px;
	text-align: right;
}
.notice-area .back-list a{
	display: inline-block;
	width: 63px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 1.3rem;
}
.notice__view {
	border-bottom: 1px solid rgb(232,232,232);	
}
.notice__view .tit{
	margin-top: -25px;
	padding: 20px 0;
	line-height: 21px;
	border-bottom: 1px solid rgb(232,232,232);
	font-size: 1.4rem;
	font-weight: 700;	
}
.notice__view .date{
	padding-top: 12px;
	text-align: right;
	font-size: 1.3rem;
}
.notice__view .info{
	padding: 10px 0 40px;
	line-height: 23px;
	border-bottom: 1px solid rgb(232,232,232);
	font-size: 1.3rem;
}
.notice__view .info img{width: 100%;}
.page__list li{
	padding: 12px 0;
	font-size: 1.1rem;
}
.page__list li + li{
	border-top: 1px solid rgb(232,232,232);
}
.page__list li > a{
	display: block;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.page__list li strong:before{
	content: '';
	display: inline-block;
	width: 1px;
	height: 5px;
	margin: 0 10px 0 12px;
	background: rgb(204,204,204);	
}
	/*FAQ*/
.faq__select{
    width: 100%;
    height: 35px;
	margin-bottom: 25px;
    padding-left: 20px;
    border: 1px solid rgb(204,204,204);
	background: rgb(248,248,248) url(http://brics.styleship.com/mo/resource/images/sub/arr_select_bt.png) no-repeat 96% center;
	background-size:10px 5px;
    font-size: 1.3rem;
    color: rgb(51,51,51);
    box-sizing: border-box;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.faq-area .list__basic{
	margin-bottom: 40px;
}
/* INSIDE */
.info--dot + .info--dot{
	margin-top: 25px;
}
.info--dot li{
	padding-left: 13px;
	line-height: 20px;
	font-size: 1.2rem;
}
.info--dot li:before{
	content: '';
	display: inline-block;
	position: relative;
	top: -5px;
	width: 3px;
	height: 3px;
	margin: 0 7px 0 -10px;
	background: rgb(163,163,163);
}
	/*배송안내*/
.delivery-area .etc__table td{
	padding: 20px 10px 20px 30px;
}
/*MYPAGE*/

	/*멤버쉽박스*/
.membership-box{
	overflow: hidden;
	margin-top: 20px;
}
.mbr-grade{
	position: relative;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.mbr-grade .status{
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 1.5rem;
	font-weight: 800;
	color: rgb(255,255,255);
}
.mbr-grade .status:before{margin-right: 10px;}
.mbr-grade .user p{
	padding: 10px 0;
	font-size: 1.3rem;
	font-family: 'Spoqa Han Sans';
	color: rgb(255,255,255);
}
.membership-box .view{
	display: inline-block;
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid rgb(255,255,255);
	font-size: 1.3rem;
	box-sizing: border-box;
	color: rgb(255,255,255);
}
.membership-box .detail{
	position: relative;
	float: left;
	width: 50%;
	padding: 15px 0 20px 20px;
	background: rgb(250,250,250);
	font-size: 1.2rem;
	box-sizing: border-box;
}
.membership-box .detail + .detail:before{
	content: '';
	position: absolute;;
	left: 0;
	width: 1px;
	height: 110px;
	background: rgb(238,238,238);
	box-sizing: border-box;
}
.membership-box .detail dd{
	margin-bottom: 5px;
	font-family: 'Spoqa Han Sans';
}
.membership-box .detail dd strong{
	font-size: 2rem;
	font-weight: 400;
}
.membership-box .detail p{
	margin-bottom: 8px;
}
.membership-box .detail .view{
	border-color: rgb(34,34,34);
	color: rgb(34,34,34);
}
.ico-grade{
	display: inline-block;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	text-indent: -9999px;	
}

	/*멤버쉽 등급별 스타일*/
.mbr-grade.g{background: rgb(0,172,81);}
.mbr-grade.g .ico-grade{background: url(http://brics.styleship.com/mo/resource/images/sub/ico_green.png) 0 0 no-repeat;background-size: 100%;}
.mbr-grade.g .status:before{content: 'Green';}
.mbr-grade.r{background: rgb(237,75,70);}
.mbr-grade.r .ico-grade{background: url(http://brics.styleship.com/mo/resource/images/sub/ico_red.png) 0 0 no-repeat;background-size: 100%;}
.mbr-grade.r .status:before{content: 'Red';}
.mbr-grade.w{background: rgb(237,237,237);}
.mbr-grade.w .ico-grade{background: url(http://brics.styleship.com/mo/resource/images/sub/ico_white.png) 0 0 no-repeat;background-size: 100%;}
.mbr-grade.w .user p{color: rgb(34,34,34);}
.mbr-grade.w .status{color: rgb(34,34,34);}
.mbr-grade.w .status:before{content: 'White';}
.mbr-grade.w .view{border-color: rgb(34,34,34);color: rgb(34,34,34);}

.my__con{
	position: relative;
}
.my__con + .my__con{
	margin-top: 60px;
}
.my__con .more{
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 10px;
	font-size: 1.2rem;
	background:  url(http://brics.styleship.com/mo/resource/images/common/arr_right_bk.png) right center no-repeat;
	background-size: 5px;
}
.my__con .txt--center{
	margin-bottom: 40px;
	font-size: 1.3rem;
}
.my__con .btn-area{
	margin-top: 40px;
}
.my__con .paging{
	margin: 40px auto 60px;
}
/*상단버튼*/
.select-btn--top{
	padding: 25px 0;
}
.select-btn--top a{
	display: inline-block;
    min-width: 85px;
    height: 30px;
    line-height: 30px;
    margin-left: 4px;
	padding: 0 13px;
	vertical-align: middle;
    font-size: 1.3rem;
    text-align: center;
	box-sizing: border-box;	
}
.select-btn--top .check-box{
	height: 30px;
	line-height: 30px;
}
.select-btn--top.--both{
	overflow: hidden;
	padding: 0 0 20px 0;
}
	/*주문수량*/
.quantity__box{
	font-size: 0;
}
.quantity__box > button{
	width: 40px;
	height: 30px;
	text-indent: -9999px;
	vertical-align: middle;
	font-size: 1.3rem;
}
.quantity__box input{
	width: calc(100% - 140px);
	height: 30px;
	text-align: center;
	border-top: 1px solid rgb(204,204,204);
	border-bottom: 1px solid rgb(204,204,204);
	vertical-align: middle;
	font-size: 14px;
	font-family: 'Spoqa Han Sans';
	box-sizing: border-box;
	outline:0;
}
.quantity__box .btn-minus{
	background: url(http://brics.styleship.com/mo/resource/images/btn/btn_minus.gif) 0 0 no-repeat;
	background-size: 40px;
}
.quantity__box .btn-plus{
	background: url(http://brics.styleship.com/mo/resource/images/btn/btn_plus.gif) 0 0 no-repeat;
	background-size: 40px;
}
.quantity__box .btn-change{
	width: 50px;
	background: rgb(250,250,250);
	border: 1px solid rgb(204,204,204);
	border-left: 0;
	text-indent: 0;
	color: rgb(153,153,153);
	box-sizing: border-box;
}
	/*주문/배송 조회*/
.sub-step {
	margin-bottom: 40px;
}
.sub-step ul{
	overflow: hidden;
	text-align: center;
}
.sub-step li{
	position: relative;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sub-step li span{
	border-bottom: 1px solid rgb(169,169,169);
}
.sub-step li:before{
	content: '';
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
}
.sub-step li:after{
    content: '';
	position: absolute;
	top: 0;
	right: 0;
    background: rgb(204,204,204);	
}
	/*서브스텝 마이페이지*/
.sub-step.mypage ul{
	padding: 15px 0 0;
	background: rgb(248,248,248);	
}
.sub-step.mypage li{
	width: 50%;
	margin-bottom: 15px;
	font-size: 1.2rem;	
}
.sub-step.mypage li:before{
	width: 30px;
	height: 30px;
	margin: 0 auto 5px;
	background-size: 30px;
}
.sub-step.mypage li.step1:before{background-image: url(http://brics.styleship.com/mo/resource/images/sub/ico_my_step.png);}
.sub-step.mypage li.step2:before{background-image: url(http://brics.styleship.com/mo/resource/images/sub/ico_my_step02.png);}
.sub-step.mypage li.step3:before{background-image: url(http://brics.styleship.com/mo/resource/images/sub/ico_my_step03.png);}
.sub-step.mypage li.step4:before{background-image: url(http://brics.styleship.com/mo/resource/images/sub/ico_my_step04.png);}

.sub-step.mypage li:after{
    width: 1px;
    height: 50px;
}
.sub-step.mypage li:nth-child(even):after{display: none;}
	/*서브스텝 오더*/
.sub-step.order ul{
	padding: 20px;
	margin: 0 -20px;
	border-bottom: 1px solid rgb(232,232,232);
}
.sub-step.order li{
	width: 25%;
	font-size: 1.3rem;
	color: rgb(153,153,153);
}
.sub-step.order li.on{
	color: rgb(35,35,35);
}
.sub-step.order li > i{
	display: block;
	width: 40px;
	height: 25px;
	margin: 0 auto 10px;
	background-size: 35px;
}
.sub-step.order li > i img{width: 100%;}
.sub-step.order li:after{
	width: 10px;
	height: 1px;
	top: 30%;
}
.sub-step.order li:last-child:after{display: none;}

.order-srh__box{
	margin-bottom: 20px;
}
.order-srh__box .date{
	border: 1px solid rgb(204,204,204);
	font-size: 0;
	box-sizing: border-box;
}
.order-srh__box .date li{
	display: inline-block;
	width: 20%;
	text-align: center;
	box-sizing: border-box;
}
.order-srh__box .date li > a{
	display: block;
	height: 35px;
	line-height: 35px;
	font-size: 1.3rem;
}
.order-srh__box .date li > a.on{
	background: rgb(250,250,250);
}
.order-srh__box .date li + li{
	border-left: 1px solid rgb(204,204,204);
}
.order-srh__box .srh{
	margin-top: 10px;
}
.order-srh__box .srh input{
	width: calc(100% - 70px);
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	border: 1px solid rgb(204,204,204);
	font-size: 1.3rem;
	background: rgb(255,255,255);
	box-sizing: border-box;
}
.order-srh__box .btn{
	float: right;
	width: 60px;
	height: 35px;
	line-height: 35px;
	font-size: 1.3rem;
	background: rgb(102,102,102);
	color: rgb(255,255,255);
}
.order-detail{
	padding: 20px 17px 20px;
	background: rgb(238,238,238);
}
.order-detail dl{
	font-size: 0;
}
.order-detail dl + dl{
	margin-top: 15px;
}
.order-detail dt,
.order-detail dd{
	display: inline-block;
	font-size: 1.3rem;
}
.order-detail dt{
	width: 85px;
	vertical-align: top;
}
.order-detail dd{
	width: calc(100% - 85px);
}
.all-order-info dl + dl{
	margin-top: 27px;
}
.all-order-info dt{
    font-size: 1.6rem;
    font-weight: normal;	
    color: rgb(51,51,51);
}
.all-order-info dd {
    margin-top: 10px;
    line-height: 22px;
    font-size: 1.3rem;
    color: rgb(51,51,51);
    word-break: keep-all;
}
	/*쿠폰*/
.srh-coupon{
	margin-bottom: 20px;
}
.srh-coupon input{
	width: calc(100% - 75px);
	height: 30px;
	border-bottom: 1px solid rgb(0,0,0);
	font-size:1.3rem;
	box-sizing:border-box;
}
.srh-coupon input::-webkit-input-placeholder{color: rgb(204,204,204);}
.srh-coupon input::-ms-input-placeholder{color: rgb(204,204,204);}
.srh-coupon input::placeholder{color: rgb(204,204,204);}
.srh-coupon button{
	display: inline-block;
	width: 65px;
	height: 27px;
	margin-left: 10px;
	line-height: 27px;
	text-align: center;
	font-size:1.3rem;
}

/*ORDER*/
.order__con + .order__con{
	margin-top: 65px;
}
.order__con .btn-area{
	margin-top: 40px;
}
.order-caution{
	margin-top: 15px;
	line-height: 21px;
	font-size: 1.3rem;
	color: rgb(153,153,153);
}
	/*가격*/
.price__box{
	overflow: hidden;
	margin-top: 40px;
	padding: 15px 0;
	border-top: 1px solid rgb(34,34,34);
	border-bottom: 1px solid rgb(34,34,34);
}
.price__box dl{
	float: left;
	font-size: 0;
}
.price__box dt,
.price__box dd{
	display: inline-block;
	line-height: 30px;
	font-size: 1.3rem;
}
	/*장바구니쿠폰*/
.cart-coupon--use{
	margin-top: 35px;
	padding: 20px;
	border-top: 1px solid rgb(238,238,238);
	border-bottom: 1px solid rgb(238,238,238);
	background: rgb(250,250,250);
	font-size: 1.3rem;
}
.cart-coupon--use a{
	width: 165px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	text-align: center;
	background: rgb(250,250,250);
	font-size: 1.3rem;
}
.cart-coupon--use .price{
	margin-top: 15px;
}
	/*주문하기*/
.payway__box .pay{
	padding: 20px 0 10px;
	border-top: 2px solid rgb(35,35,35);
	border-bottom: 1px solid rgb(238,238,238);
	font-size: 0;
}
.payway__box .pay li{
	display: inline-block;
	width: 50%;
	margin-bottom: 10px;
}
.payway__box .info{
	padding: 15px 0;
	border-bottom: 1px solid rgb(238,238,238);
	font-size: 1.3rem;
}
.payway__box .info .tit{
	margin-bottom: 3px;
}
.payway__box .info li{
	line-height: 21px;
	color: rgb(153,153,153);
}
.payway__box .info li + li{
	margin-top: 5px;
}
.payway__box .detail-info {
	padding-top: 35px;
}
.payway__box .detail-info .tit{
	margin-bottom: 13px;
	font-size: 1.5rem;
}
.payway__box .detail-info li {
	padding-left: 10px;
	line-height: 22px;
	font-size: 1.3rem;
	color: rgb(153,153,153);
}
.payway__box .detail-info li + li{
	margin-top: 10px;
}
.payway__box .detail-info li > i{
	margin-left: -10px;
}
.payway__box .return-info{
	padding-top: 20px;
	border-top: 2px solid rgb(34,34,34);
	color: rgb(102,102,102);
}
.payway__box .return-info li > i{
	margin-left: -10px;
}
.payway__box .return-info li{
	padding-left: 10px;
	line-height: 22px;
	font-size: 1.3rem;
}
.payway__box .return-info li + li{
	margin-top: 10px;
}


	/*비회원*/
.nomember__info{
	padding: 35px 0 0;
}
.nomember__info > h4{
	margin-bottom: 10px;
	font-size: 1.6rem;
}
.nomember__info li{
	line-height: 21px;
	font-size: 1.3rem;
}
.nomember__info .check-box{
	margin-top: 10px;
}
.nomember__info .check-box label:before{
	margin-left: -30px;
}
.nomember__info .check-box label{
	padding-left: 30px;
	font-size: 1.4rem;
}
	/*결제완료*/
.pay-complete-txt{
	padding: 0 0 35px;
	text-align: center;
	font-size: 1.3rem;
}
.pay-complete-txt strong{
	display: block;
	margin-bottom: 10px;
	line-height: 25px;
	font-weight: normal;
	font-size: 1.8rem;
}
/*POPUP*/
.popup{
	position: relative;
	width: 90%;
	margin: 0 auto;
	background: rgb(255,255,255);
	box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.pop-title{
	margin-bottom: 15px;
	line-height: 22px;
	font-weight: 400;
	font-size: 1.5rem;
}
.pop-title > button{
	float: right;
	width: 95px;
	height: 30px;
	line-height: 30px;
	margin-top: -5px;
	margin-left: 10px;
	font-size: 1.3rem;
}
.popup-scroll{
	padding: 20px 20px 30px;
	max-height: 70vh;
	overflow-y: auto;
}
.popup .order__con .btn-area{
	margin-top: 20px;
}
.popup .order__con + .order__con{
	margin-top: 35px;
}
.popup .btn-close{
	position: absolute;
	right: 0;
	top: -30px;
	width: 18px;
	height: 18px;
	text-indent: -9999px;
	background:  url(http://brics.styleship.com/mo/resource/images/btn/btn_close-pop.png) center center no-repeat;
	background-size: 100%;
}
	/*아이디 중복확인*/
.join.popup .id-check__box{
	margin-bottom: 20px;
	padding: 13px 0;
	border-top: 1px solid rgb(0,0,0);
	border-bottom: 1px solid rgb(238,238,238);
	font-size: 0;
}
.join.popup .id-check__box label{
	display: inline-block;
	width: 25%;
	font-size: 1.3rem;
	color: rgb(102,102,102);
}
.join.popup .id-check__box input[type="text"]{
	width: 47.92%;
	height: 35px;
	padding-left: 10px;
	font-size: 14px;
	background: rgb(248,248,248);
	color: rgb(51,51,51);
	box-sizing: border-box;
}
.join.popup .id-check__box + p{
	margin-bottom: 40px;
	line-height: 24px;
	font-size: 13px;
}
.join.popup .id-check__box .btn{
	display: inline-block;
	width: 25%;
	height: 35px;
	line-height: 35px;
	margin-left: 5px;
	border: 1px solid rgb(204,204,204);
	text-align: center;
	font-size: 1.3rem;
	box-sizing: border-box;
}
	/*멤버쉽 안내*/
.mypage.popup .inner{
	padding: 20px;
}
.mypage.popup .mbrship-info{
	text-align: center;
	font-family:'Spoqa Han Sans';
}
.mypage.popup .mbrship-info > h2{
	margin-bottom: 7px;
	line-height: 25px;
	font-size:1.7rem; 
	font-weight: 400;
}
.mypage.popup .mbrship-info > p{
	margin-bottom: 15px;
	font-size:1.3rem;
	line-height: 22px;
	color:rgb(51,51,51)	
}
.mypage.popup .mbrship-info > p + p{
	font-size: 1.1rem;
}
.mypage.popup .mbr-grade{
	display: inline-block;
	height: 25px;
	padding: 0;
	vertical-align: middle;
	background: none;
}
.mypage.popup .mbr-grade .ico-grade{
	width: 20px;
	height: 20px;
}
.mypage.popup .my-order{
	text-align: center;
	font-size: 0;
}
.mypage.popup .my-order > div{
	display: inline-block;
	width: 50%;
	vertical-align: middle;
	box-sizing: border-box;
}
.mypage.popup .my-order .left{text-align: left;}
.mypage.popup .my-order .right{text-align: right;}

.mypage.popup .my-order dl{
	line-height: 16px;
	font-size: 0;
}
.mypage.popup .my-order dl + dl{
	margin-top: 4px;
}
.mypage.popup .my-order dt,
.mypage.popup .my-order dd{
	display: inline-block;
	font-size: 1.2rem;
}
.mypage.popup .my-order dd{
	width: 75px;
	text-align: right;
}
.mypage.popup .my-order .btn{
	display: inline-block;
	width: 90px;
	height: 20px;	
	line-height: 20px;
	margin-top: 25px;
	text-align: center;
	font-size: 1rem;
}
	/*주문하기*/
.order.popup .price__box{
	border-bottom: 1px solid rgb(240,240,240);
}
.order.popup .price__box dl{
	float: none;
}
.order.popup .price__box select{
	margin: 15px 0 5px;
}
.order.popup p + p{
	margin-top: 25px;
}




/*320*/
@media all and (max-width: 320px){
	.membership-box .detail p{
		min-height: 40px;
	}
}