/*WRAP*/

#wrap {
	padding: 0 0 40px;
  }
  
  /*HEADER - GNB 버튼, 로고, 검색버튼*/
  
  #header {
	width: 100%;
	height: 51px;
	position: relative;
	top: 0;
	left: 0;
	border-bottom: 1px dashed rgb(222, 222, 222);
	box-sizing: border-box;
  }
  
  body.main #header {
	border-bottom: 0;
  }
  
  #header > button {
	width: 60px;
	height: 51px;
	position: absolute;
	top: 0;
	text-indent: -9999px;
  }
  
  .btn__search {
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(http://brics.styleship.com/mo/resource/images/common/ico_serach.png);
	background-size: 19px;
  }
  
  .btn__search--right {
	right: 0;
  }
  
  .btn__menu {
	left: 0;
	span {
	  width: 19px;
	  height: 2px;
	  display: block;
	  position: absolute;
	  left: 50%;
	  background-color: rgb(17, 17, 17);
	  &.top {
		top: 20px;
		-webkit-transform: translate(-50%, 0%);
		-ms-transform: translate(-50%, 0%);
		transform: translate(-50%, 0%);
	  }
	  &.mid {
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	  }
	  &.bot {
		top: calc(100% - 19px);
		-webkit-transform: translate(-50%, -100%);
		-ms-transform: translate(-50%, -100%);
		transform: translate(-50%, -100%);
	  }
	}
  }
  
  #header .logo {
	width: 70px;
	height: 51px;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	a {
	  height: 51px;
	  display: block;
	  text-indent: -9999px;
	  background: url(http://brics.styleship.com/mo/resource/images/common/logo_brics.png) no-repeat center center;
	  background-size: 70px;
	}
  }
  
  /*header - search box*/
  
  .search-box {
	width: 100%;
	height: 51px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: rgb(255, 255, 255);
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
  }
  
  body.search-box--open .search-box {
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
  }
  
  .search-box {
	.inner {
	  padding: 0 20px;
	}
	form {
	  font-size: 0;
	}
	button {
	  width: 19px;
	  height: 51px;
	  display: inline-block;
	  margin-left: 10px;
	  text-indent: -9999px;
	  vertical-align: top;
	  background-repeat: no-repeat;
	  background-position: center center;
	}
	.btn__search--close {
	  background-image: url(http://brics.styleship.com/mo/resource/images/common/ico_x_bk.png);
	}
	.input__search {
	  width: calc(100% - 58px);
	  height: 19px;
	  display: inline-block;
	  margin: 16px 0 0;
	  font-family: 'Spoqa Han Sans';
	  font-weight: 400;
	  font-size: 1.0rem;
	  color: rgb(119, 119, 119);
	  vertical-align: top;
	  outline: 0;
	}
  }
  
  /*GNB*/
  
  body.gnb--open {
	overflow-y: hidden;
  }
  
  .bg-wrap {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.7);
  }
  
  .gnb {
	width: calc(100% - 60px);
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgb(255, 255, 255);
	-wekbit-transform: translateX(calc(-100% - 60px));
	-ms-transform: translateX(calc(-100% - 60px));
	transform: translateX(calc(-100% - 60px));
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
  }
  
  body {
	&.gnb--open {
	  .gnb {
		-wekbit-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0%);
	  }
	  .bg-wrap {
		display: block;
	  }
	}
	&.filter--open .bg-wrap {
	  display: block;
	}
  }
  
  .gnb {
	.inner {
	  height: 100%;
	  overflow-y: auto;
	}
	.user {
	  width: 100%;
	  height: 51px;
	  padding: 0 20px;
	  font-family: 'Spoqa Han Sans';
	  font-weight: 300;
	  font-size: 1.4rem;
	  color: rgb(51, 51, 51);
	  line-height: 51px;
	  background-color: rgb(238, 238, 238);
	  border-bottom: 1px solid rgb(221, 221, 221);
	  box-sizing: border-box;
	}
	.btn__close {
	  width: 60px;
	  height: 51px;
	  display: block;
	  position: absolute;
	  top: 0;
	  right: -60px;
	  z-index: 99;
	  text-indent: -9999px;
	  background: url(http://brics.styleship.com/mo/resource/images/common/ico_x_wt.png) no-repeat center center;
	  background-size: 18px;
	}
	.util-box {
	  width: 100%;
	  height: 42px;
	  border-bottom: 1px solid rgb(221, 221, 221);
	  box-sizing: border-box;
	  &:after {
		content: '';
		display: block;
		clear: both;
	  }
	  a {
		width: 25%;
		float: left;
		font-family: 'Spoqa Han Sans';
		font-weight: 300;
		font-size: 1.1rem;
		color: rgb(51, 51, 51);
		text-align: center;
		line-height: 42px;
	  }
	}
	.inner {
	  > ul {
		margin-bottom: 50px;
		> li {
		  height: 50px;
		  border-bottom: 1px solid rgb(204, 204, 204);
		  box-sizing: border-box;
		}
	  }
	  ul li {
		a {
		  display: block;
		  padding: 0 20px;
		  font-weight: 400;
		  font-size: 1.3rem;
		  color: rgb(0, 0, 0);
		  line-height: 50px;
		}
		&:not(.no-depth) a {
		  background-repeat: no-repeat;
		  background-position: calc(100% - 20px) center;
		  background-image: url(http://brics.styleship.com/mo/resource/images/common/arr_right_bk_16x25.png);
		  background-size: 8px;
		}
	  }
	}
  }
  
  .depth2-box {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(255, 255, 255);
	-wekbit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
  }
  
  .gnb .inner {
	> ul > li.depth2--open .depth2-box {
	  -wekbit-transform: translateX(0%);
	  -ms-transform: translateX(0%);
	  transform: translateX(0%);
	}
	ul li a.tit__depth {
	  display: block;
	  padding: 0 20px 0 40px;
	  font-weight: 700;
	  font-size: 1.5rem;
	  color: rgb(0, 0, 0);
	  line-height: 50px;
	  background-repeat: no-repeat;
	  background-position: 20px center;
	  background-color: rgb(238, 238, 238);
	  background-image: url(http://brics.styleship.com/mo/resource/images/common/arr_left_bk_16x25.png);
	  background-size: 8px;
	}
  }
  
  .depth3-box {
	background-color: rgb(245, 245, 245);
  }
  
  .gnb .inner ul li .depth2-box {
	> ul {
	  margin-bottom: 50px;
	  border-bottom: 1px solid rgb(204, 204, 204);
	}
	ul li {
	  border-top: 1px solid rgb(204, 204, 204);
	  &:first-child {
		border-top: 0;
	  }
	  a {
		background-image: url(http://brics.styleship.com/mo/resource/images/common/arr_bot_bk_16x25.png);
		background-size: 13px;
	  }
	  .depth3-box {
		display: none;
		border-top: 1px solid rgb(204, 204, 204);
		a {
		  font-weight: 300;
		  background-image: none;
		}
	  }
	  &.depth3--open {
		.depth3-box {
		  display: block;
		}
		> a {
		  background-image: url(http://brics.styleship.com/mo/resource/images/common/arr_top_bk_16x25.png);
		}
	  }
	  &.no-depth a {
		background-image: none;
	  }
	}
  }
  
  /*FOOTER - SITEMAP*/
  
  #footer {
	width: 100%;
	background-color: rgb(238, 238, 238);
	.inner {
	  padding: 23px 20px 25px;
	}
  }
  
  .list__sitemap {
	width: 280px;
	margin: 0 auto;
	font-size: 0;
	text-align: center;
	li {
	  display: inline-block;
	  margin-right: 12px;
	  font-size: 12px;
	  vertical-align: top;
	  &:nth-child(4) {
		margin-right: 0;
	  }
	  a {
		display: block;
		font-family: 'Spoqa Han Sans';
		font-weight: 100;
		font-size: 1.2rem;
		line-height: 2.4rem;
	  }
	  strong {
		font-weight: 700;
	  }
	}
  }
  
  #footer {
	.share-box {
	  margin: 14px 0 0;
	  font-size: 0;
	  text-align: center;
	  .share {
		width: 22px;
		height: 21px;
		display: inline-block;
		text-indent: -9999px;
		vertical-align: top;
		background-repeat: no-repeat;
		background-position: center center;
	  }
	  .share__facebook {
		background-image: url(http://brics.styleship.com/mo/resource/images/common/ico_facebook.png);
		background-size: 9px;
	  }
	  .share__instagram {
		margin-left: 14px;
		background-image: url(http://brics.styleship.com/mo/resource/images/common/ico_instagram.png);
		background-size: 22px;
	  }
	}
	.address {
	  padding: 20px 0;
	}
	.addr__starluxe {
	  margin: 20px 0 0;
	  padding-top: 25px;
	  border-top: 1px dashed rgb(222, 222, 222);
	}
	.address p {
	  font-family: 'Spoqa Han Sans';
	  font-weight: 100;
	  font-size: 1.1rem;
	  color: rgb(34, 34, 34);
	  line-height: 2.0rem;
	}
	.txt {
	  font-family: 'Spoqa Han Sans';
	  font-weight: 400;
	  font-size: 1.2rem;
	  color: rgb(34, 34, 34);
	  line-height: 2.0rem;
	  &.escrow {
		background: url(http://brics.styleship.com/mo/resource/images/common/mark_escrow.png) no-repeat right center;
		background-size: 37px;
	  }
	}
	.copyright {
	  font-family: 'Spoqa Han Sans';
	  font-weight: 100;
	  font-size: 1.2rem;
	  color: rgb(34, 34, 34);
	}
  }
  
  /*FOOTER GNB*/
  
  .gnb__footer {
	width: 100%;
	height: 50px;
	background-color: rgb(238, 238, 238);
  }
  
  .gnb__footer--fix {
	position: fixed;
	bottom: 0px;
	left: 0;
	z-index: 99;
	&.gnb__footer--up {
	  bottom: 0px;
	}
  }
  
  .gnb__footer ul {
	&:after {
	  content: '';
	  display: block;
	  clear: both;
	}
	li {
	  float: left;
	  a {
		height: 50px;
		display: block;
		padding: 30px 0 0;
		font-family: 'Spoqa Han Sans';
		font-weight: 400;
		font-size: 1.1rem;
		color: rgb(0, 0, 0);
		text-align: center;
		background-repeat: no-repeat;
		box-sizing: border-box;
	  }
	  .gnb__category {
		background-image: url(http://brics.styleship.com/mo/resource/images/common/ico_hambuger.png);
		background-position: center 11px;
		background-size: 17px;
	  }
	  .gnb__delivery {
		background-image: url(http://brics.styleship.com/mo/resource/images/common/ico_delivery.png);
		background-position: center 11px;
		background-size: 17px;
	  }
	  .gnb__mypage {
		background-image: url(http://brics.styleship.com/mo/resource/images/common/ico_mypage.png);
		background-position: center 9px;
		background-size: 17px;
	  }
	  .gnb__cart {
		position: relative;
		top: 0;
		left: 0;
		background-image: url(http://brics.styleship.com/mo/resource/images/common/ico_cart.png);
		background-position: center 8px;
		background-size: 17px;
	  }
	  span.num {
		width: 15px;
		height: 15px;
		display: block;
		position: absolute;
		top: 8px;
		left: calc(50% + 2px);
		font-weight: 600;
		font-size: 1.1rem;
		color: rgb(255, 255, 255);
		line-height: 15px;
		text-align: center;
		background-color: rgb(0, 0, 0);
		border-radius: 50%;
	  }
	}
  }
  
  body.gnb--open .gnb__footer {
	z-index: -99;
  }
  
  /*4단*/
  
  .gnb__footer ul {
	&._gnb4 li {
	  width: 25%;
	}
	&._gnb5 li {
	  width: 20%;
	}
  }
  
  /*5단*/
  
  /*CONTENTS*/
  
  #contents {
	width: calc(100% - 40px);
	margin: 0 auto;
  }
  
  body.main #contents {
	width: 100%;
  }
  
  /*LOCATION*/
  
  .location {
	margin: 6px 0 0;
	&:after {
	  content: '';
	  display: block;
	  clear: both;
	}
	a {
	  float: left;
	  padding-left: 9px;
	  margin-left: 3px;
	  font-weight: 300;
	  font-size: 1.1rem;
	  color: rgb(113, 113, 113);
	  letter-spacing: -0.5px;
	  background: url(http://brics.styleship.com/mo/resource/images/common/arr_right_gr.png) no-repeat 0 center;
	  background-size: 6px;
	  &:first-child {
		padding-left: 0;
		margin-left: 0;
		background: none;
	  }
	}
  }
  
  /*loader*/
  
  .loader {
	text-align: center;
	img {
	  width: 20px;
	}
  }